# Configuration file

~CONFIG_VERSION: 0.1.0

world-1442378944 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world-1454012797 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=@miner basalt
    B:overlayEnabled=true
}


world-1970639223 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world-1974054333 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=dynamo
    B:overlayEnabled=true
}


world-2060703100 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=press
    B:overlayEnabled=true
}


world-443470812 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world-458758410 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=pattern
    B:overlayEnabled=true
}


world-534198351 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=woot
    B:overlayEnabled=true
}


world-534198357 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world-78688046 {
    # Show the list of bookmarks next to open GUIs.
    B:bookmarkOverlayEnabled=true

    # Give items instead of showing the recipe.
    B:cheatItemsEnabled=false

    # Hide and unhide ingredients by clicking them in the list.
    B:editEnabled=false
    S:filterText=machine

    # Show the list of ingredients next to open GUIs.
    B:overlayEnabled=true
}


world1195879146 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=@therma
    B:overlayEnabled=true
}


world1544803905 {
    S:filterText=
}


world1855637915 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=lag
    B:overlayEnabled=true
}


world2083942599 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=infinity
    B:overlayEnabled=true
}


world2603186 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world357742663 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world680575769 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world681111995 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


